[submodule "bldc.X/library-motor"]
	path = bldc.X/library-motor
	url = https://bitbucket.microchip.com/scm/mcu16ce/library-motor.git
	branch = motor_lib-124
[submodule "bldc.X/library-x2cscope"]
	path = bldc.X/library-x2cscope
	url = https://bitbucket.microchip.com/scm/mcu16ce/library-x2cscope.git
	branch = develop
